# ignore all notebook files 
*.ipynb

# ignore all checkpoint files 
.ipynb_checkpoints/

# ignore data folders
fitness_poses_images_in/pushups_down/
fitness_poses_images_in/pushups_up/
fitness_poses_images_out/

__pycache__
*.mp4

# Poetry and venv 
.venv/
poetry.lock